/*  Basic Styling
------------------------------------------------------- */
* { box-sizing: border-box; }
body { margin: 0; }

/*  MVP Styling
------------------------------------------------------- */
html {
	font-family: Avenir, Helvetica, sans-serif;
	background: #e4e4d5;
}
article {
	margin: 3rem 10vw 3rem 4vw;
}

@media (min-width:900px) {
	article {
		margin: 3rem 10vw 3rem 4vw;
		display: grid;
		grid-template-columns: calc(0.1rem + 0.5vw) max-content 5rem min-content 1fr minmax(30ch, 50ch) 1fr;
		grid-template-rows: calc(1rem + 1vw) 50px min-content min-content 1fr;
		gap: 0 1rem;
	}	
	article::after {
			border: 8px solid #d55349;
			grid-row: 2 / 5;
			grid-column: 2 / 4;
			z-index: -1;
			content: '';
	}
}


h1 {
	font-size: calc(1.6rem + 1.6vw);
	text-transform: uppercase;	
	text-align: center;
	grid-column: 1 / 3;
	grid-row: 1 / 5;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
nav {
	writing-mode: vertical-rl;
	float: left;
	height: max-content;
	grid-column: 3 / 7;
	grid-row: 3 / 4;
	background: #d55349;
}
section {
	grid-column: 6 / 7;
	grid-row: 4 / 6;
	margin-top: calc(1rem + 2vh);
}
.red-box {

}
ul {
	padding: 1rem;
}
li {
	list-style: none;
}
a { 
	color: black; 
	text-transform: uppercase; 
	text-decoration: none; 
	font-size: 1.3rem;
	font-weight: 800;
}
@media (max-width:900px) {
	img {
		height: 300px;
		object-fit: cover;
	}
}
img {
	grid-column: 3 / 5;
	grid-row: 3 / 6;
	opacity: 0.5;
}
@supports (mix-blend-mode: overlay) {
	img {
		mix-blend-mode: overlay;
		opacity: 1;
	}
}
h1 span:nth-child(1) { /* J */
	grid-column: 2;
	grid-row: 1;
}
h1 span:nth-child(2) { /* E */
	grid-column: 3;
	grid-row: 1;
}
h1 span:nth-child(3) { /* N */
	grid-column: 6;
	grid-row: 1;
}
h1 span:nth-child(4) { /* S */
	grid-column: 3;
	grid-row: 2;
}
h1 span:nth-child(5) { /* I */
	grid-column: 4;
	grid-row: 2;
}
h1 span:nth-child(6) { /* M */
	grid-column: 5;
	grid-row: 3;
}
h1 span:nth-child(7) { /* M */
	grid-column: 6;
	grid-row: 3;
}
h1 span:nth-child(8) { /* O */
	grid-column: 1;
	grid-row: 4;
}
h1 span:nth-child(9) { /* N */
	grid-column: 4;
	grid-row: 5;
}
h1 span:nth-child(10) { /* S */
	grid-column: 5;
	grid-row: 6;
}